@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #030712;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}

*{
  box-sizing: border-box;
}

span {
  -webkit-font-smoothing: antialiased;
}


.name-gradient {
  background: linear-gradient(
    90deg,
    #c084fc,
    #f472b6,
    #22d3ee
  );

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}